<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pagTitle}}</title>
    </head>

    <body>
        {{> header}}
        <p> {{screamIt welcomeText}}</p>
        {{> footer}}
    </body>
</html>